*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica;
    font-size: 62.5%;
}
body{
    background-color: #fff;
    max-height: 100vh;
}
.main{
    transition: 1s;
    position: relative;
    margin: 0 auto;
    width: 300px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.main__temp-value{
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 200;
}
.main__name{
    font-size: 1.5rem;
}
.header{
    gap: 10px;
    background-color: rgba(255, 0, 0, 0);
    min-width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__input-sity{
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__input-sity-value{
    justify-content: center;
    border: 1px black solid;
    outline: none;
    border-radius: 15px;
    width: 200px;
    font-size: 1.5rem;
    padding: 10px 40px 10px 10px;
}
.header__search-button{
    cursor: pointer;
    position: absolute;
    right: 10px;
    border: 0;
    outline: none;
    background-color: rgb(255, 255, 255);
}
.main__circle{
    border-radius: 50%;
    opacity: 45%;
    position: absolute;
    z-index: -1;
    filter: blur(3rem);
    width: 220px;
    height: 220px;
    animation: scale 1.5s infinite alternate;
}
@keyframes scale {
    0% {
        transform: scale(1);    
      }
    100% {
        transform: scale(1.4) 
    }
}
svg{
    transition: 1s;
}
svg:hover{
    fill: gray;
    transition: 1s;
}